EXPO_PUBLIC_SUPABASE_URL=https://bzczbsrtbnqiydscvnak.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_p1AIZeAJvoR-ZYvdwSZTGA_R7h6p6n0
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=
